.gjs-cv-canvas {
  width: 100% !important;
  height: 100% !important;
}

.gjs-pn-views-container {
  display: none !important;
}

/* Theming */
.gjs-one-bg {
  background-color: #fff !important;
}

.gjs-four-color,
.gjs-four-color-h:hover {
  color: #66cc8a !important;
}
